@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
    /* background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/infobae/FTF5OLVZDJGXTF7HUSG6KQZQQM.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.5) ;
}